@using NP.Data

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Serenity Naturals</h1>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>View By Category</h2>
        <p>
            View all products by product types such as shampoos, conditioners, moisturizers, and more!
        </p>
        <p><a class="btn btn-default" href="~/Product/Category/">Check It Out &raquo;</a></p>
    </div>
</div>
<div class="col-md-4">
    <h2>Search by Hair Type</h2>
    <p>Find products made specifically for your hair type!</p>
    <p><a class="btn btn-default" href="~/Product/HairType/">Check It Out &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>View Plans</h2>
    <p>Need a better hair regimen? Check out our hand-picked recommendations that are specifically geared towards your hair goals.</p>
    <p><a class="btn btn-default" href="~/Plan/">Check It Out &raquo;</a></p>
</div>