@using NP.Data

@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
        <h1>Serenity Naturals</h1>
        <p class="lead"></p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<br />
<div class="row">
    <div class="col-sm-3 pull-left">
        <h2>View By Category</h2>
        <i class="fab fa-pagelines"></i>
        <p>View all products by product types such as shampoos, conditioners, moisturizers, and more!</p>
        <p><a class="btn btn-warning" href="~/Product/Category/">Check It Out &raquo;</a></p>
    </div>
    <div class="col-sm-3 pull-right">
        <h2>View Plans</h2>
        <i class="fab fa-pagelines"></i>
        <p>Need a better hair regimen? Check out our hand-picked recommendations that are specifically geared towards your hair goals.</p>
        <p><a class="btn btn-warning" href="~/Plan/">Check It Out &raquo;</a></p>
    </div>
</div>
    <div class="img-rounded pull-right">
        <img src="https://images.unsplash.com/photo-1571442463800-1337d7af9d2f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1952&q=80" alt="Girl sitting" id="GirlPhoto" />
    </div>

<div class="row">
    <div class="col-sm-3 pull-left">
        <h2>View All Products</h2>
        <i class="fab fa-pagelines"></i>
        <p>View all products such as shampoos, conditioners, moisturizers, and more!</p>
        <p><a class="btn btn-warning" href="~/Product/">Check It Out &raquo;</a></p>
    </div>
    <div class="col-sm-3 pull-right">
        <h2>COMING SOON</h2>
        <h4>Search by Hair Type</h4>
        <i class="fab fa-pagelines"></i>
        <p>FEATURE COMING SOON! Find products made specifically for your hair type!</p>
        @*<p><a class="btn btn-warning" href="~/Product/HairType/">Check It Out &raquo;</a></p>*@
    </div>
</div>

